#
cilium_version: {{ cilium_version }}

# FIXME this should be defined along loadbalnacer
external_loadbalancer_ip: "{{ external_loadbalancer_ip }}"
external_loadbalancer_port: {{ external_loadbalancer_port }}

cilium_autodirectnoderoutes: {{ cilium_autodirectnoderoutes | lower }}
cilium_bpfclockprobe: {{ cilium_bpfclockprobe | lower }}
cilium_bpf_hostlegacyrouting: "{{ cilium_bpf_hostlegacyrouting | lower }}"
cilium_bpf_masquerade: "{{ cilium_bpf_masquerade | lower }}"
cilium_bpf_monitoraggregation: {{ cilium_bpf_monitoraggregation | lower }}
cilium_bpf_preallocatemaps: {{ cilium_bpf_preallocatemaps | lower }}
cilium_bpf_tproxy: "{{ cilium_bpf_tproxy | lower }}"
cilium_cert_dir: {{ cilium_cert_dir | lower }}
cilium_cleanbpfstate: {{ cilium_cleanbpfstate | lower }}
cilium_cleanstate: {{ cilium_cleanstate | lower }}
cilium_cluster_id: {{ cilium_cluster_id | lower }}
cilium_clustermesh_useapiserver: {{ cilium_clustermesh_useapiserver | lower }}
cilium_cluster_name: {{ cilium_cluster_name | lower }}
cilium_debug_enabled: {{ cilium_debug_enabled | lower }}
cilium_debug_verbose: "{{ cilium_debug_verbose | lower }}"
cilium_enableipv4bigtcp: {{ cilium_enableipv4bigtcp | lower }}
cilium_enableipv6bigtcp: {{ cilium_enableipv6bigtcp | lower }}
cilium_enableipv6masquerade: {{ cilium_enableipv6masquerade | lower }}
cilium_endpointroutes_enabled: {{ cilium_endpointroutes_enabled | lower }}
cilium_envoy_enabled: {{ cilium_envoy_enabled | lower }}
cilium_etcd_enabled: {{ cilium_etcd_enabled | lower }}
cilium_etcd_endpoints: {{ cilium_etcd_endpoints | lower }}
cilium_etcd_ssl: {{ cilium_etcd_ssl | lower }}
cilium_hubble_enabled: {{ cilium_hubble_enabled | lower }}
cilium_hubble_metrics_enabled: "{{ cilium_hubble_metrics_enabled | lower }}"
cilium_hubble_relay_enabled: {{ cilium_hubble_relay_enabled | lower }}
cilium_hubble_ui_enabled: {{ cilium_hubble_ui_enabled | lower }}
cilium_hubble_ui_ingress_enabled: {{ cilium_hubble_ui_ingress_enabled | lower }}
cilium_hubble_ui_ingress_hosts: {{ cilium_hubble_ui_ingress_hosts | lower }}
cilium_identityallocationmode: {{ cilium_identityallocationmode | lower }}
cilium_ingresscontroller_enabled: {{ cilium_ingresscontroller_enabled | lower }}
cilium_ingresscontroller_service_loadbalancerip: "{{ cilium_ingresscontroller_service_loadbalancerip | lower }}"
cilium_ipam_mode: {{ cilium_ipam_mode | lower }}
cilium_ipam_operator_clusterpoolipv4masksize: {{ cilium_ipam_operator_clusterpoolipv4masksize | lower }}
cilium_ipam_operator_clusterpoolipv4podcidrlist: {{ cilium_ipam_operator_clusterpoolipv4podcidrlist | lower }}
cilium_ipam_operator_clusterpoolipv6masksize: {{ cilium_ipam_operator_clusterpoolipv6masksize | lower }}
cilium_ipam_operator_clusterpoolipv6podcidrlist: {{ cilium_ipam_operator_clusterpoolipv6podcidrlist | lower }}
cilium_ipv4nativeroutingcidr: "{{ cilium_ipv4nativeroutingcidr }}"
cilium_ipv6nativeroutingcidr: "{{ cilium_ipv6nativeroutingcidr }}"
cilium_ipv6_enabled: {{ cilium_ipv6_enabled | lower }}
cilium_l2announcements_enabled: {{ cilium_l2announcements_enabled | lower }}
cilium_localredirectpolicy: {{ cilium_localredirectpolicy | lower }}
cilium_nodeport_enabled: {{ cilium_nodeport_enabled | lower }}
cilium_prometheus_enabled: {{ cilium_prometheus_enabled | lower }}
cilium_quirk_cidr: {{ cilium_quirk_cidr | lower }}
cilium_quirk_etcd: {{ cilium_quirk_etcd | lower }}
cilium_securitycontext_privileged: {{ cilium_securitycontext_privileged | lower }}
cilium_tunnel: "{{ cilium_tunnel | lower }}"


cilium_cpu_limit: "{{ cilium_cpu_limit }}"
cilium_cpu_requests: "{{ cilium_cpu_requests }}"
cilium_memory_limit: "{{ cilium_memory_limit }}"
cilium_memory_requests: "{{ cilium_memory_requests }}"

cilium_bpf_preallocate_bpf_maps: {{ cilium_bpf_preallocate_bpf_maps | lower }}
cilium_kubeproxyreplacement: {{ cilium_kubeproxyreplacement | lower }}
cilium_labels: "{{ cilium_labels | lower }}"
cilium_ingresscontroller_service_annotations: {{ cilium_ingresscontroller_service_annotations | lower }}

cilium_hubble_ui_ingress_annotations: {{ cilium_hubble_ui_ingress_annotations | default({}) }}
cilium_hubble_ui_ingress_classname: {{ cilium_hubble_ui_ingress_classname }}

# cilium_kube_proxy_replacement # required by kubespray
cilium_kube_proxy_replacement: "{{ cilium_kube_proxy_replacement }}"
cilium_enable_hubble: {{ cilium_hubble_enabled | lower }}

cilium_tunnelprotocol: "{{ cilium_tunnelprotocol }}"
cilium_routingmode: "{{ cilium_routingmode }}"
cilium_hubble_ui_ingress_tls_enabled: {{ cilium_hubble_ui_ingress_tls_enabled | lower }}
cilium_bpf_lbexternalclusterip: {{ cilium_bpf_lbexternalclusterip | lower }}
cilium_loadbalancer_acceleration: {{ cilium_loadbalancer_acceleration | lower }}

cilium_operator_poddisruptionbudget_enabled: {{ cilium_operator_poddisruptionbudget_enabled | lower }}
cilium_ciliumendpointslice_enabled: {{ cilium_ciliumendpointslice_enabled | lower }}
cilium_k8s_requireipv4podcidr: {{ cilium_k8s_requireipv4podcidr | lower }}
cilium_k8s_requireipv6podcidr: {{ cilium_k8s_requireipv6podcidr | lower }}
cilium_bgp_enabled: {{ cilium_bgp_enabled | lower }}
cilium_bgpcontrolplane_enabled: {{ cilium_bgpcontrolplane_enabled | lower }}
cilium_pmtudiscovery_enabled: {{ cilium_pmtudiscovery_enabled | lower }}
cilium_envoyconfig_enabled: {{ cilium_envoyconfig_enabled | lower }}
cilium_gatewayapi_enabled: {{ cilium_gatewayapi_enabled | lower }}
cilium_eni_enabled: {{ cilium_eni_enabled | lower }}
cilium_externalips_enabled: {{ cilium_externalips_enabled | lower }}
cilium_gke_enabled: {{ cilium_gke_enabled | lower }}
cilium_socketlb_enabled: {{ cilium_socketlb_enabled | lower }}
cilium_nodeipam_enabled: {{ cilium_nodeipam_enabled | lower }}
cilium_ipmasqagent_enabled: {{ cilium_ipmasqagent_enabled | lower }}
